target/classes/com/edwar/mensajes_app/Conexion.class
target/classes/com/edwar/mensajes_app/Inicio.class
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
